  public static explicit operator $FullName$( $TypeKeyword$? value )
  {
    var result = $FullName$.Create( value );
    if( result.IsFailed )
    {
      throw new global::System.InvalidOperationException(
        global::System.Linq.Enumerable.First( result.Errors )
              .Message
      );
    }

    return result.Value;
  }
